
.dialog-pane{
    -fx-background-color: black;
}

.dialog-pane *{
  -fx-border-color:black;
  -fx-background-color: black;
  -fx-border-width:1;
  -fx-text-fill:white;
  -fx-font-size:12.0px;
 }

/**Costumization of Buttons*/
.dialog-pane .button{
   -fx-background-color:black;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
 }





