
.root {
   -fx-background-color: black;
	 
   -fx-border-color: white;

   -fx-border-style: solid;

    -fx-border-width: 1;
}

.root *{
	 -fx-text-fill: white;	  
}

/**Costumization of Buttons*/
.button  {
   -fx-background-color:black;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
    -fx-font-weight:bold; 
 }

.button:hover {     
  -fx-background-color:white;
 }
 
#updateBtn {
	  -fx-text-fill: cyan;	 
}

#cancelBtn {
	  -fx-text-fill: red;	 
}

#info {	     
    -fx-text-fill: red;
}

