.label {
	 -fx-text-fill: white;
	 -fx-font-size: 12;
}

.progress-bar {
    -fx-background-radius: 2, 2, 2, 2;
	-fx-border-width: 1;
	-fx-border-color: grey;
}
 
.progress-bar .track{
    -fx-background-color: transparent;
}

.progress-bar .bar { 
    -fx-background-insets: 3, 3, 3, 3; 
    -fx-background-radius: 4, 4, 4, 4;
    -fx-background-color: darkred
}

