HBox *{
	 -fx-text-fill: white ;
}

/**Costumization of Buttons*/
.button , .toggle-button {
   -fx-background-color:black;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
    -fx-font-weight:bold; 
 }

.button:hover , .toggle-button:hover {     
  -fx-background-color:white;
 }

.toggle-button {	
	 -fx-text-fill:red ;
}

CheckBox {
	 -fx-text-fill: white ;
	  -fx-cursor:hand;
}

CheckBox:selected {
	 -fx-text-fill: white ;
}

Slider {
	  -fx-cursor:hand;
}