.label {
	 -fx-text-fill: white;
	 -fx-font-size: 24;
}

.progress-bar {
    -fx-background-radius: 2, 2, 2, 2;
	 -fx-border-color:grey;
	 -fx-border-width: 1 1 1 0;
}
 
.progress-bar .track{
    -fx-background-color: transparent;
}

.progress-bar .bar { 
    -fx-background-insets: 3, 3, 3, 3; 
    -fx-background-radius: 4, 4, 4, 4;
     -fx-background-color: green
}

.progress-bar:low-bar    .bar {  -fx-background-color: green; }
.progress-bar:medium-bar .bar { -fx-background-color: orange; }
.progress-bar:high-bar   .bar { -fx-background-color: red;    }
