
#topDoor, #bottomDoor  {
	  -fx-background-color: grey;
	 -fx-border-color:grey;
	 -fx-border-width: 1;
}

#middleDoor  {
	 -fx-background-color: transparent;
	 -fx-border-color:grey;
	 -fx-border-width: 1;
}

#doorPlaceHolder{
	 -fx-background-color: transparent;
	 -fx-border-color:transparent;
	 -fx-border-width: 1;
}