#title {
	 -fx-text-fill: red;
	 -fx-font-size: 24;
	 -fx-cursor:hand;
}

#state {
	 -fx-font-size: 16;
}

.label {
	 -fx-text-fill: white;
	 -fx-font-size: 12;
}

#statePane, #infoPane {
	 -fx-border-color:grey;
	 -fx-border-width: 1;
}
