
.label {	
  -fx-text-fill: cyan;
}

#customer {	
  -fx-text-fill: green;
}

TilePane{
  -fx-border-color: grey;
   -fx-border-width: 1;  
}

#cashier{
   -fx-cursor:hand;
}

#cashier:on {
    -fx-background-color:transparent;
	-fx-text-fill: cyan;
	-fx-border-color: green;
}

#cashier:off {
    -fx-background-color:black;
	-fx-text-fill: grey;
	-fx-border-color: red;
}

#cashier:busy{
    -fx-background-color:green;
	-fx-text-fill: cyan;
	-fx-border-color: green;
}

#cashier:stoped{
	-fx-background-color:yellow;
	-fx-text-fill: red;
    -fx-border-color: red;
}

#cashier:flash {
    -fx-background-color:black;
}