.root {
	 -fx-padding: 0;
	 -fx-background-color: black;
	 -fx-border-color:transparent;
	 -fx-border-width: 5;
}

#headerPane, #checkoutPane, #controlsPane  {
	 -fx-border-color:grey;
	 -fx-border-width: 1;
}
